
    <div class="container">
        <section class="history-section">
            <h2>Notre Histoire</h2>
            <div class="timeline">
                <div class="timeline-item left">
                    <div class="date">2006</div>
                    <div class="content">
                        <h3>Fondation du Centre</h3>
                        <p>Le centre a été fondé en 2006 par Slim Al-Ayari est un pionnier de l'éducation à Mahdia.</p>
                    </div>
                </div>
                <div class="timeline-item right">
                    <div class="date">2006</div>
                    <div class="content">
                        <h3>Première Expansion</h3>
                        <p>En 2006, le centre a subi sa première expansion majeure, ajoutant de nouvelles salles pour les ateliers et les événements communautaires initialement spécialisée dans les soins infirmiers et l'assistance médicale, elle s'est ensuite diversifiée pour proposer des formations variées telles que les langues, la programmation et la maintenance.....</p>
                    </div>
                </div>
                <div class="timeline-item left">
                    <div class="date">2014</div>
                    <div class="content">
                        <h3>Introduction de Programmes de Bien-être</h3>
                        <p> En 2014, elle a étendu ses offres en ajoutant des programmes BTS et BTP, offrant ainsi une large gamme de programmes éducatifs pour répondre aux besoins des étudiants dans divers domaines. L'école se distingue par la création d'un environnement d'apprentissage moderne et efficace visant à développer les compétences des étudiants et à les préparer à intégrer le marché du travail avec confiance et une connaissance approfondie dans plusieurs domaines.</p>
                    </div>
                </div>
                <div class="timeline-item right">
                    <div class="date">2016</div>
                    <div class="content">
                        <h3>10ème Anniversaire</h3>
                        <p>En 2016, nous avons célébré notre 10ème anniversaire avec une série d'événements et d'initiatives communautaires.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
