

    <footer>
        <img src="./assets/images/logo2.png" alt="Logo" width="140" height="150" class="d-inline-block align-text-top">

        <div class="footer-container">
            <div class="footer-section">
                <h4>Contact</h4>
               
                <p>Téléphone:  +216 50 810 430</p>
                <p>Adresse: Av. Ali Balhouan Mahdia , Mahdia, Tunisia</p>
            </div>
            
            <div class="footer-section">
                <h4>Suivez-nous</h4>
                <a href="https://www.facebook.com/ICFMahdia"><img src="../../assets/images/facebook.png" alt="Facebook"></a>

                <a href="https://www.instagram.com/icf.mahdia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="../../assets/images/Instagram.png" alt="Instagram"></a>
            </div>
            <div class="footer-section">
                <h4>Newsletter</h4>
                <form action="/subscribe" method="post">
                    <input type="email" name="email" placeholder="Votre email">
                    <button type="submit">S'inscrire</button>
                </form>
            </div>
        </div>
        
    </footer>
