
    <header>
        <img src="./assets/images/logo.png" class="logo" alt="Logo" width="200" height="130" class="d-inline-block align-text-top">
       <h1 class="logo">Institut Central de Formation</h1>
        <div>
  
            <nav>
                <ul>
                    <li class="nav-item"><a class="nav-link" routerLink="/produit">Accueil</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Formation</a>
                      <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Langue</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Dev.Web</a></li>
                      <li><a class="dropdown-item" href="#">Info Bureautique</a></li>
                      <li><a class="dropdown-item" href="#">Infographique</a></li>
                      
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Markting</a></li>
                      <li><a class="dropdown-item" href="#">Comptabilité</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Plombiier</a></li>
                      <li><a class="dropdown-item" href="#">Fibre optique</a></li>
                      <li><a class="dropdown-item" href="#">Répartition GSM</a></li>
                      <li><a class="dropdown-item" href="#">Esthetique</a></li>
                      <li><a class="dropdown-item" href="#">Test et validation</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Croisière</a></li>
                    </ul></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/inscription">Inscription</a></li>
                   
                </ul>
            </nav>
            
        </div>
    </header>

